---
layout: home
title: About Me
---

<p class="f0-light">Hello!</p>
<p class="f3-light mb-3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I am a Research Engineer at <a href='https://www.1x.tech/'>1x</a>.
         I am actively working on solving robot learning problems that allow androids to learn on their own.
</p>
<p class="f3-light mb-3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Previously, I was at NYU, 
        working on visual imitation learning and dexterous manipulation with <a href="https://www.lerrelpinto.com">Prof. Lerrel Pinto</a> 
        and <a href="https://soumith.ch/">Soumith Chintala</a>.
</p>
