<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Research</h1>
<p class="f3-light mb-3 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">My recent research
    projects that I have been working at NYU so far.
</p>
<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        e.hidden = !e.hidden;
    }
</script>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
    {% for research in site.categories.research limit: 12 %}
    works
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-1">
        {% include research-card.html %}
    </div>
    {% endfor %}
</div>